/* styles */
* {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-sizing:content-box;
}
input[type=range] + .range_value {
	/* style like a div */
	cursor: pointer;
	border: 0px;
	background:#ccc;
	color:#333;
}
fieldset, #pianokeys {
	display:block;
	position: relative;
	background:#fff;
	box-shadow: 1px 2px 10px rgba(0,0,0,.2);
	margin: 10px 0px;
	padding: 10px;
}
fieldset figure {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 50px;
	height: 50px;
	border-radius:5px;
	border: 2px solid #000;
}
fieldset figure img {
	width: 50px;
	height: 50px;
}
fieldset > div.buttons { /* top level options */
	margin: 0px;
	padding: 10px 0 0;
}
fieldset > div.buttons button {
	margin-right: 10px;
	padding: 10px 15px;
}
fieldset > div.buttons button + button {
	margin-right: 0px;
}
fieldset > fieldset > div { /* component options */
	float: right;
	width: 290px;
	margin: 5px;
	padding: 20px 5px;
}

/* PIANO STYLES */ 
#pianokeys {
	min-width:720px;
	width: 720px;
	min-height: 100px;
	padding-top:85px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#pianokeys.full {
	min-width: 1040px;
	width: 1040px;
	min-height: 350px;
}
#pianokeys .keyrow {
	margin: 0px;
	padding: 0px;
	clear:both;
}
#pianokeys.full .keyrow.top {
	margin-top: -78px;
}
#pianokeys.full .keyrow.piano {
	padding-top: 78px;
}
#pianokeys .key {
	display: inline-block;
	cursor:pointer;
	box-sizing:border-box;
	width: 64px;
	height: 70px;
	border-radius:10px;
	border: 1px solid #666;
	margin: 4px;
	float: left;
	position:relative;
	background-color: #eee;
	box-shadow: 1px 1px 3px #999;
}
#pianokeys .key:after {
	content:attr(data-keyboard);
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #999;
}
#pianokeys .key span {
	font-size: 22px;
	font-family: monospace;
	text-align: center;
	display: block;
	margin-top: 10px;
	color: #333;
}
#pianokeys .key.active {
	border-color: #ccc;
	background-color: #333;
	box-shadow: -1px -1px 3px #999;
	margin: 6px 2px 2px 6px;
}
#pianokeys .key.active:after {
	color: #666;
}
#pianokeys .key.active span {
	color: #ccc;
}
#pianokeys .key.invalid {
	border-color: #600;
	background-color: #e00;
	box-shadow: 1px 1px 3px #900;
	margin: 4px;
}
#pianokeys .key.invalid:after {
	color: #900;
}
#pianokeys .key.invalid span {
	color: #300;
}
#pianokeys .key.sharp {
	margin: -74px 4px 4px -25px;
}
#pianokeys .key.sharp.active {
	margin: -72px 2px 2px -23px;
}
#pianokeys .key.ghost {
	display: none;
}
#pianokeys.full .key.ghost {
	display: inline-block;
}

/* Named piano keys */
#pianokeys .key[data-keyname="tab"] {
	width: 90px; /* 64px default */
	margin-left: 4px;
}
#pianokeys .key.active[data-keyname="tab"] {
	margin-left: 6px;
}
#pianokeys .key[data-keyname="capslock"] {
	width: 120px; /* 64px default */
}
#pianokeys .key[data-keyname="enter"] {
	width: 107px;
}
#pianokeys .key[data-keyname="bkslash"] {
	margin-left: -68px;
}
#pianokeys .key.active[data-keyname="bkslash"] {
	margin-left: -66px;
}
#pianokeys .key[data-keyname='lshift'] {
	width: 150px;
}
#pianokeys .key[data-keyname='rshift'] {
	width: 149px;
}
#pianokeys .key[data-keyname='delete'] {
	width: 91px;
}
#pianokeys .key[data-keyname='lcmd'],
#pianokeys .key[data-keyname='rcmd'] {
	width: 84px;
}
#pianokeys .key[data-keyname='space'] {
	width: 351px;
}
#pianokeys .arrows {
	width: 204px;
	height: 70px;
	display: inline-block;
	clear: both;
}
#pianokeys .key.arrow {
	width: 60px;
	height: 34px;
	margin: 2px 4px 4px 4px;
	float: left;
}
#pianokeys .key.arrow[data-keyname="up_arrow"] {
	margin: 4px 72px 0px;
}
/* meta row */
#pianokeys .keyrow.meta .key {
	width: 66px;
	height: 34px;
}
#pianokeys .keyrow.meta .key[data-keyname='power'] {
	width: 65px;
}



/* toggle button with indicator light*/
.tglbtn {
	display: inline-block;
	height: 38px;
	padding: 1px 3px;
	box-sizing: border-box;
	border-radius: 19px;
	background-color: #bbb;
	box-shadow: 2px 2px 5px #666;
}
.tglbtn button {
	display:inline-block;
	height: 30px;
	border: none;
	background: transparent;
	outline: none;
}
.tglbtn.active button {
}
.tglbtn .indicator {
	display:inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background-color: green;
	border-radius: 15px;
}
.tglbtn.active .indicator {
	background-color: lime;
}


/* AUDIO CONTROLS STYLES */
#controls {
	width: 420px;
	margin: 0px;
	padding: 0px 15px 5px;
}
#controls label,
#controls label span,
#controls label input[type=range],
#controls .range_value {
	display:inline-block;
	position:relative;
}
#controls label {
	width: 85%;
}
#controls label span {
	width: 30%;
}
#controls label input[type=range] {
	width: 65%;
}
#controls .range_value {
	width: 10%;
}