/* styles */
* {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-sizing:content-box;
}
input[type=range] + .range_value {
	/* style like a div */
	cursor: pointer;
	border: 0px;
	background:#ccc;
	color:#333;
}
fieldset {
	display:block;
	position: relative;
	background:#fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	margin: 10px 0px;
	padding: 10px;
}
fieldset figure {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 50px;
	height: 50px;
	border-radius:5px;
	border: 2px solid #000;
}
fieldset figure img {
	width: 50px;
	height: 50px;
}
fieldset > div.buttons { /* top level options */
	margin: 0px;
	padding: 10px 0 0;
}
fieldset > div.buttons button {
	margin-right: 10px;
	padding: 10px 15px;
}
fieldset > div.buttons button + button {
	margin-right: 0px;
}
fieldset > fieldset > div { /* component options */
	float: right;
	width: 290px;
	margin: 5px;
	padding: 20px 5px;
}

/* specific fieldsets: */ 
#pianokeys {
	min-height: 100px;
	padding-top:85px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#pianokeys .key {
	display: inline-block;
	cursor:pointer;
	box-sizing:border-box;
	width: 64px;
	height: 70px;
	border-radius:10px;
	border: 1px solid #666;
	margin: 4px;
	float: left;
	position:relative;
	background-color: #eee;
	box-shadow: 1px 1px 3px #999;
}
#pianokeys .key:after {
	content:attr(data-keyboard);
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #999;
}
#pianokeys .key span {
	font-size: 22px;
	font-family: monospace;
	text-align: center;
	display: block;
	margin-top: 10px;
	color: #333;
}
#pianokeys .key.active {
	border-color: #ccc;
	background-color: #333;
	box-shadow: -1px -1px 3px #999;
	margin: 6px 2px 2px 6px;
}
#pianokeys .key.active:after {
	color: #666;
}
#pianokeys .key.active span {
	color: #ccc;
}
#pianokeys .key.invalid {
	border-color: #600;
	background-color: #e00;
	box-shadow: 1px 1px 3px #900;
	margin: 4px;
}
#pianokeys .key.invalid:after {
	color: #900;
}
#pianokeys .key.invalid span {
	color: #300;
}
#pianokeys .key.sharp {
	margin: -74px 4px 4px -25px;
}
#pianokeys .key.sharp.active {
	margin: -72px 2px 2px -23px;
}


#controls {
	width: 420px;
	margin: 0px;
	padding: 0px 15px 5px;
}
#controls label,
#controls label span,
#controls label input[type=range],
#controls .range_value {
	display:inline-block;
	position:relative;
}
#controls label {
	width: 85%;
}
#controls label span {
	width: 30%;
}
#controls label input[type=range] {
	width: 65%;
}
#controls .range_value {
	width: 10%;
}